.headerFooterPage {
  background: var(--stellar-semantic-color-background-inverse);
  min-height: 100vh;
  padding: var(--stellar-core-spacing-2xl);
  box-sizing: border-box;
}

.headerFooterSpacer {
  height: var(--stellar-core-spacing-2xl);
}

.headerFooterPageMobile {
  display: flex;
  justify-content: center;
}

.headerFooterMobileStack {
  display: flex;
  flex-direction: column;
  gap: var(--stellar-core-spacing-lg);
}
